body {

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
    font-family: "montserrat",sans-serif;
    min-height: 100vh;
    background-image:linear-gradient(125deg,#6a89cc,#efefef) ;
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}


.box h1 {

    color: white;
    text-transform: uppercase;
    font-weight: 500;

}


.box input[type="text"], .box input[type="text"],
.box input[type="Email"]{

    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 400px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "text"]:focus,
.box input[type = "Email"]:focus {

    width: 280px;
    border-color: #2ecc71;
}

.box button[type = "button"],.box button[type = "reset"],.box button[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 300px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.box button[type = "reset"]:hover{
    background: #2ecc71;

}

.box button[type = "submit"]:disabled:hover{
    background: red;

}

.box button[type = "submit"]:enabled:hover{
    background: #2ecc71;

}


.container{
    width: 100%;
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    text-align: center;
    color: #343434;
}

.container h1{
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    background: url(../img/img.jpg) center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.container a{
    text-decoration: none;
    background: yellowgreen;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.container a:hover{
    background: springgreen;
}