#mainForCards
{
	display: flex;
	
}

#card1  
{
position: absolute;
top: 50px;
left: 50px;
/*----*/
width: 250px;

border-radius: 20px;
overflow: hidden;

}

#img-imgCard  
{
max-width: 100%;
height: auto;
}

#name
{
	text-align: center;
	background-color: aqua;

	border: 5px black solid;
}

#HP
{
	position: absolute;
	left: 0px;
	top : 20px;
	display: inline-block;
	background-color: green;
}

#ATT
{
	position: absolute;
	right: 0px;
	top : 20px;
	display: inline-block;
	background-color: red;
}

#DEF
{
	position: absolute;
	left: 0px;
	top : 40px;
	width: 100%;
	text-align: center;
	background-color: rgb(26, 103, 167);
}

#description
{
	background-color: rgb(200, 170, 120)
}

#card2  
{
position: absolute;
top: 50px;
left: 500px;
/*----*/
width: 250px;

border-radius: 20px;
overflow: hidden;

}

#card3  
{
position: absolute;
top: 500px;
left: 50px;
/*----*/
width: 250px;

border-radius: 20px;
overflow: hidden;

}